pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "get table names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MongoDbAtlasSource",
						"batchSize": 100
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "poakmm_mongodb_ds_Bookings",
						"type": "DatasetReference",
						"parameters": {
							"collectionName": {
								"value": "@activity('get table names').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "POAKMM_MONGO_TO_SQL_Bookings",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@activity('get table names').output.value",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "get table names",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "db_config_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MongoDbAtlasSource",
						"batchSize": 100
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "poakmm_mongodb_ds_Bookings",
						"type": "DatasetReference",
						"parameters": {
							"collectionName": "Bookings"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "POAKMM_MONGO_TO_SQL_Bookings",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "Bookings"
						}
					}
				]
			}
		],
		"variables": {
			"customers": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-04T10:01:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}